/*div, h1, p, span, button, a, img {
  background: rgba(170, 170, 170, 0.192);
  border: 1px solid rgba(255, 0, 0, 0.411);

}
*************** debug *******************/

#root {
    background-image: url(./images/bg.jpg);
    background-size: contain;
}

.App {
  background-color: #000000d1;
}

.nav {
    background: #20232a;
}

.nav a {
  color: #42c1ff;
}

.nav a:hover {
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.provider {
  transition: 0.2s;
}

.selected {
    box-shadow: 0px 2px 6px 1px #051c34;
    transition: 0.2s;
}

.fa-selected {
  display: none;
}

.selected .fa-selected {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  background: #007bffa8;
  padding: 30px;
  display: block;
}
